<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CalculatorSelf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D047CAF81D2F0FA80071F26E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D047CB0C1D2F0FA80071F26E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D047CB171D2F0FA80071F26E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
